<!DOCTYPE html>
<html>
    <head>
        <title><%= hostName %>님의 할리갈리 방</title>
    </head>
    <link href="../../stylesheets/hlglGameStyle.css" rel="stylesheet" type="text/css" />
    <link href="../../stylesheets/hamburgers.css" rel="stylesheet" type="text/css" />
    <body>
        <header>
            <button class="hamburger hamburger--squeeze" type="button">  
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span> 
            </button>
            <nav id="menu">
                <%= player.name %>
                <ul>
                    <li id="hostFunc" style="display: none;"><a id="gameStart" href="#">게임시작</a></li>
                    <li><a id="showLog" href="#">게임로그</a></li>
                    <li><a id="exit" href="#">나가기</a></li>
                </ul>
            </nav>
            <div id="headTitle">
                <h2><%= hostName %>님의 할리갈리</h2>
            </div>
        </header>

        <section>
            <div id="anotherPlayersDiv">
                
            </div>

            <div id="bellDiv">
                <button id="bell">
                    <img id="none" src="../../images/bell.jpg">
                    <img id="on" src="../../images/on.jpg" style="display: none;">
                    <img id="ring" src="../../images/ring.jpg" style="display: none;">
                </button>
            </div>

            <div id="myDiv">
                <div class="card" id="myHoldOutCard" style="background-color: red;"></div>
                <br/>
                <div class="deck" id="myDeck">
                    <img id="myCard" src="../../images/HG.jpg"/>
                </div>
            </div>
            <div id="state">
                <div id="playerStat"></div><br/>
                <div id="nowTurn"></div><br/>
                <div id="nowTime"></div>
            </div>
            <div id="notice"></div>
        </section>

        <footer>
            Copyright 2021. 신상우 all rights reserved.<br/>
            sw980321@naver.com
        </footer>
    </body>

    <script>
        var roomNum = <%= roomNum %>;
        var hostName = "<%= hostName %>";
        var player = "<%= player.name %>";
        var TOKEN = "<%= TOKEN %>";
    </script>
    <script src="../../javascripts/jquery-3.6.0.min.js"></script>
    <script src="../../javascripts/socket.io.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="../../javascripts/hlglGame.js"></script>

</html>