<!DOCTYPE html>
<html>
    <head>
        <title>GAME LIST</title>
    </head>
    <body>
        <%= user.name %>님, 환영합니다.
        <form action="../game/logout" method="POST">
            <input type="submit" value="로그아웃">
        </form>
        
        <ul id="gameList">
        <% for (var i = 0; i < rooms.length; i++) { %>
            <li id="<%= rooms[i].hostName %>" lock="<%= rooms[i].isLocked %>" isPlaying="<%= rooms[i].isPlaying %>"><%= rooms[i].hostName %>의 방</li>
        <% } %>
        </ul>

        <br/>
        방 생성하기
        <form action="../game/makeRoom" method="POST">
            <input type="text" name="hostName" value="<%= user.name %>" style="display: none;">
            <input type="text" name="password" placeholder="패스워드">
            <input type="submit" value="방 생성">
        </form>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../javascripts/socket.io.js"></script>
    <script>
        $("#gameList").children().each((index, item) => {
            $(item).click((e) => {
                index = index;
                gameId = $(item).attr("id");
                isLocked = eval($(item).attr("lock"));
                isPlaying = eval($(item).attr("isPlaying"))
                pwd = null;
                playerId = "<%= user.name %>";
                
                if (isPlaying) {
                    alert("해당 방은 이미 플레이 중입니다.");
                }
                else if (isLocked) {
                    pwd = prompt("비밀번호를 입력하세요");
                    $.ajax({
                        url : "../game/enterRoom",
                        data : { index : index, gameId : gameId, pwd : pwd, playerId : playerId },
                        type : "POST",
                        dataType : "json"
                    })
                    .done((data) =>{
                        console.log(data.result);
                        if (data.result) {
                            location.href = "../game/play/" + index;           
                        }
                        else {
                            alert("잘못된 패스워드입니다.");
                        }
                    });
                }
                else if (confirm($(item).attr("id") + "의 방에 입장하겠습니까?")) {
                    $.ajax({
                        url : "../game/enterRoom",
                        data : { index : index, gameId : gameId, pwd : pwd, playerId : playerId },
                        type : "POST",
                        dataType : "json"
                    })
                    .done((data) =>{
                        console.log(data.result);
                        if (data.result){
                            location.href = "../game/play/" + index;
                        }
                    });
                }
            });
        });
    </script>
</html>