<!DOCTYPE html>
<html>
    <head>
        <title>HLGL GAME LIST</title>
    </head>

    <link href="../stylesheets/hamburgers.css" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/listStyle.css" rel="stylesheet" type="text/css" />

    <body>
        <div id="backBoard">
            <button class="hamburger hamburger--squeeze" type="button">  
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span> 
            </button>
            <div id="menu">
                <%= user.name %>님,<br/>
                환영합니다.
                <br/>
                <form action="../game/logout" method="POST">
                    <input type="submit" value="로그아웃">
                </form>
            </div>

            <div id="gameList">
                <h2>생성된 방 목록</h2><br/>
                <% function isEmpty(param) { return Object.keys(param).length === 0; } %>
                <ul>
                <% for (var i = 0; i < rooms.length; i++) { %>
                    <% if (!isEmpty(rooms[i])) { %>
                    <li class="room" index="<%= rooms[i].id %>" hostName="<%= rooms[i].hostName %>" lock="<%= rooms[i].isLocked %>" isPlaying="<%= rooms[i].isPlaying %>"><%= rooms[i].title %></li>
                    <% } %>
                <% } %>
                </ul>        
            </div>

            <div id="createRoomDiv">
                방 생성하기
                <form id="createRoom">
                    <input type="text" id="password" placeholder="패스워드">
                    <input type="submit" value="방 생성">
                </form>
            </div>
        </div>

        <footer>
            Copyright 2021. 신상우 all rights reserved.<br/>
            sw980321@naver.com
        </footer>
    </body>

    <script src="../javascripts/jquery-3.6.0.min.js"></script>
    <script src="../javascripts/socket.io.js"></script>
    <script>

        if (<%= user.room %> != -1) {
            if (confirm("현재 참여 중인 방이 있습니다. 재접속 하시겠습니까?")) {
                window.location.href = "../game/play/" + <%= user.room %>;
            }
            else {
                console.log("초기화");
                $.ajax({
                    url : "../game/clearRoomInUserInfo",
                    data : { TOKEN : "<%= TOKEN %>" },
                    type : "POST",
                    dataType : "json"
                })
                .done((data) => {
                    location.reload();
                });
            }
        }

        $(".hamburger").click((e) => {
            document.querySelector(".hamburger").classList.toggle("is-active");
            $("#menu").slideToggle("fast");
        });

        $(".room").each((index, item) => {
            $(item).click((e) => {

                var roomIndex = $(item).attr("index") * 1;
                var hostName = $(item).attr("hostName");
                var isLocked = eval($(item).attr("lock"));
                var isPlaying = eval($(item).attr("isPlaying"))
                var pwd = null;
                var playerId = "<%= user.name %>";
                var TOKEN = "<%= TOKEN %>";
                
                if (isPlaying) {
                    alert("해당 방은 이미 플레이 중입니다.");
                }
                else if (isLocked) {
                    pwd = prompt("비밀번호를 입력하세요");
                    $.ajax({
                        url : "../game/enterRoom",
                        data : { index : roomIndex, hostName : hostName, pwd : pwd, playerId : playerId, TOKEN : TOKEN },
                        type : "POST",
                        dataType : "json"
                    })
                    .done((data) =>{
                        console.log(data.result);
                        if (data.result) {
                            location.href = "../game/play/" + roomIndex;           
                        }
                        else {
                            alert("잘못된 패스워드입니다.");
                        }
                    });
                }
                else if (confirm($(item).attr("id") + "의 방에 입장하겠습니까?")) {
                    $.ajax({
                        url : "../game/enterRoom",
                        data : { index : roomIndex, hostName : hostName, pwd : pwd, playerId : playerId, TOKEN : TOKEN },
                        type : "POST",
                        dataType : "json"
                    })
                    .done((data) =>{
                        console.log(data.result);
                        if (data.result){
                            location.href = "../game/play/" + roomIndex;
                        }
                    });
                }
            });
        });

        $("#createRoom").submit((e) => {

            e.preventDefault();
            var hostName = "<%= user.name %>";
            var TOKEN = "<%= TOKEN %>";

            if (!confirm("정말 방을 만드시겠습니까?")) return;

            $.ajax({
                url : "../game/makeRoom",
                data : { password: $("#password").val(), hostName : hostName, TOKEN : TOKEN },
                type : "POST",
                dataType : "json"
            }).done((data) => {
                console.log(data);
                location.href = "../game/play/" + data.index;
            });
            
        });

        $("#menu").css("padding-top", $(".hamburger").css("width"));
    </script>
</html>